.footer {
  background-color: var(--grey-bg);
  width: 100%;
}

.footer__wrapper {
  width: min(calc(100vw - 20px), 1440px);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__left {
  height: 38px;
  padding: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.footer__right {
  padding: 10px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.footer__bottom {
  padding: 18px 0 0 0;
  flex: 1 1 100%;
  color: var(--black);
  font: normal normal 12px/1.4 'IBM Plex Sans', sans-serif;
}
