.letters {
  margin: 0;
  padding: 0 0 20px 0;
  width: min(100%, 420px);
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font: normal 500 20px/1.2 'IBM Plex Sans', sans-serif;
  color: var(--blue);
}
