.our-channels {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
}

.channels {
  box-sizing: border-box;
  flex: 1 0 50%;
  padding: 0 0 20px 0;
}

.chats {
  box-sizing: border-box;
  min-width: 263px;
  flex: 1 0 20%;
  display: flex;
  flex-flow: column;
}

.chats__banners {
  width: 100%;
}

.chat-banner {
  box-sizing: border-box;
}

.chat-banner:first-child {
  margin: 0 0 20px 0;
}

.our-channels > .donate-us {
  flex: 1 1 100%;
}
