.team {
  &__intro {
    margin: 0;
    padding: 0 0 16px 0;
    font: normal normal 16px/24px 'IBM Plex Sans', sans-serif;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

    border: 1px solid red;
  }
}
