.team {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__intro {
    margin: 0;
    padding: 0 0 16px 0;
    font: normal normal 16px/24px 'IBM Plex Sans', sans-serif;
  }

  &__list {
    margin: 0;
    padding: 0 0 40px 0;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: 334px;
    gap: 20px;

    @media(max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
  }
}
