.calc-table {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 20px min(25px, 1.76vw);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 64px);
  grid-template-areas:
    "cell_1-1 cell_1-2 cell_1-3 .        cell_1-4"
    "cell_2-1 cell_2-2 cell_2-3 cell_2-4 cell_2-5"
    "cell_3-1 cell_3-2 cell_3-3 cell_3-4 cell_3-5"
    "cell_4-1 cell_4-2 cell_4-3 cell_4-4 cell_4-5"
    "cell_5-1 cell_5-2 cell_5-3 cell_5-4 cell_5-5"
    "cell_6-1 cell_6-2 cell_6-3 cell_6-4 cell_6-5";

    @media(max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "cell_1-1"
        "cell_1-2"
        "cell_1-3"
        "cell_1-4"
        "cell_2-1"
        "cell_2-2"
        "cell_2-3"
        "cell_2-4"
        "cell_2-5"
        "cell_3-1"
        "cell_3-2"
        "cell_3-3"
        "cell_3-4"
        "cell_3-5"
        "cell_4-1"
        "cell_4-2"
        "cell_4-3"
        "cell_4-4"
        "cell_4-5"
        "cell_5-1"
        "cell_5-2"
        "cell_5-3"
        "cell_5-4"
        "cell_5-5"
        "cell_6-1"
        "cell_6-2"
        "cell_6-3"
        "cell_6-4"
        "cell_6-5";
    }
}

.cell {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  border: 1px solid var(--lines-grey);

  &_bg_grey {
    background: var(--light-grey);
    border: none;
  }

  &__label {
    color: var(--grey);
    font: normal normal clamp(11px, 1.14vw, 13px)/1.2 'IBM Plex Sans', sans-serif;

    @media(max-width: $mobile) {
      font: normal normal 15px/1.2 'IBM Plex Sans', sans-serif;
    }
  }

  &__input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0 5px;
    font: normal normal clamp(16px, 1.8vw, 26px)/1.2 'Share Tech Mono', monospace;
    text-align: right;
    width: calc(100% - 10px);

    @media(max-width: $mobile) {
      font: normal normal 26px/1.2 'Share Tech Mono', monospace;
    }

    &_name {
      font: normal normal clamp(12px, 1.53vw, 22px)/1.2 'Share Tech Mono', monospace;
      text-align: left;

      @media(max-width: $mobile) {
        font: normal normal 22px/1.2 'Share Tech Mono', monospace;
      }
    }

    &_hex_black {
      color: var(--black);
    }

    &_hex_blue {
      color: var(--pure-blue);
      background: transparent;
    }
  }
}

.cell_1-1 {
  grid-area: cell_1-1;
}

.cell_1-2 {
  grid-area: cell_1-2;
}

.cell_1-3 {
  grid-area: cell_1-3;
  border: 3px solid var(--black);
}

.cell_1-4 {
  grid-area: cell_1-4;
  justify-content: flex-start;
  align-items: flex-end;
  outline: none;
  border: none;
}

.cell_2-1 {
  grid-area: cell_2-1;
  border: 3px solid var(--red);
}

.cell_2-2 {
  grid-area: cell_2-2;
}

.cell_2-3 {
  grid-area: cell_2-3;
}

.cell_2-4 {
  grid-area: cell_2-4;
}

.cell_2-5 {
  grid-area: cell_2-5;
}

.cell_3-1 {
  grid-area: cell_3-1;
  border: 3px solid var(--orange);
}

.cell_3-2 {
  grid-area: cell_3-2;
}

.cell_3-3 {
  grid-area: cell_3-3;
}

.cell_3-4 {
  grid-area: cell_3-4;
}

.cell_3-5 {
  grid-area: cell_3-5;
}

.cell_4-1 {
  grid-area: cell_4-1;
  border: 3px solid var(--green);
}

.cell_4-2 {
  grid-area: cell_4-2;
}

.cell_4-3 {
  grid-area: cell_4-3;
}

.cell_4-4 {
  grid-area: cell_4-4;
}

.cell_4-5 {
  grid-area: cell_4-5;
}

.cell_5-1 {
  grid-area: cell_5-1;
  border: 3px solid var(--pure-blue);
}

.cell_5-2 {
  grid-area: cell_5-2;
}

.cell_5-3 {
  grid-area: cell_5-3;
}

.cell_5-4 {
  grid-area: cell_5-4;
}

.cell_5-5 {
  grid-area: cell_5-5;
}

.cell_6-1 {
  grid-area: cell_6-1;
  border: 3px solid var(--grey);
}

.cell_6-2 {
  grid-area: cell_6-2;
}

.cell_6-3 {
  grid-area: cell_6-3;
}

.cell_6-4 {
  grid-area: cell_6-4;
}

.cell_6-5 {
  grid-area: cell_6-5;
}

.cell_outline {
  outline: 4px solid var(--blue-like-bg);
}
