@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/fonts/IBMPlexSans-Regular.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../../../public/fonts/IBMPlexSans-Bold.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../../public/fonts/IBMPlexSans-SemiBold.woff2');
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/fonts/share-tech-mono-v15-latin-regular.woff2');
}
