:root {
  --white: #fff;

  --deep-blue-text: #084298;
  --blue: #4c60d8;
  --button-blue: #0e6efd;
  --button-blue-hover: #0a59cb;
  --blue-like-bg: #cfe2ff;

  --black: #212529;
  --grey: #6c757d;
  --lines-grey: #acb0b2;
  --light-grey: #e9ecef;
  --light-grey-30: #e9ecef30;
  --grey-bg: #f8f9fa;
}
