.introduction-main-link {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
  background-color: var(--button-blue);
  border: 1px solid var(--button-blue);
  border-radius: 8px;
  font: normal 400 20px/30px 'IBM Plex Sans', sans-serif;
  padding: 8px 0;
  width: 250px;
  max-height: 30px;
  text-align: center;
  transition: background .2s ease-in;

  &:hover {
    cursor: pointer;
    background: var(--button-blue-hover);
  }

  @media(max-width: $mobile) {
    width: 200px;
    font: normal 400 16px/30px 'IBM Plex Sans', sans-serif;
  }
}
