.donate-us {
  width: 100%;
  margin: 0;
  padding: 26px 0;

  &__wrapper {
    background: var(--blue-like-bg);
    border-radius: 6px;
    border: 1px solid var(--lines-grey);
  }

  &__content {
    padding: 22px 0;
    margin: 0 auto;
    width: min(100%, 610px);
    display: flex;
    flex-flow: row wrap;
    place-content: center center; 
    gap: 20px;
  }

  &__button {
    display: flex;
    flex-flow: column;
    place-content: center center;
  }

  &__text-header {
    margin: 0;
    padding: 0 0 10px 0;
    color: var(--deep-blue-text);
    font: normal normal 24px/1.1 'IBM Plex Sans', sans-serif;
  }

  &__text-body {
    margin: 0;
    padding: 0;
    color: var(--deep-blue-text);
    font: normal normal 16px/1.1 'IBM Plex Sans', sans-serif;
  }
}
