.soc {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 4fr 12fr repeat(4, 4fr) 10fr 12fr;
  border-bottom: 1px solid var(--lines-grey);

  &__cell {
    padding: 0;
    box-sizing: border-box;
    height: 54px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font: normal 400 16px/1.2 'IBM Plex Sans', sans-serif;

    &:nth-child(1) {
      justify-content: center;
    }
  
    &:nth-child(n+3):nth-child(-n+6) {
      justify-content: center;
    }
  }

  &__cell > svg {
    width: 30px;
    height: 30px;
  }
}
