.calc-table {
  width: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 58px 58px;
  grid-template-areas:
    "cell_1-1 cell_1-2 cell_1-3 cell_1-4 cell_1-4"
    "cell_2-1 cell_2-2 cell_3-3 cell_2-4 cell_2-5";
  gap: 20px;
}

.cell_1-1 {
  grid-area: cell_1-1;
  border: 1px solid var(--lines-grey);
  border-radius: 6px;
  outline: 4px solid var(--blue-like-bg);
}

.cell_1-2 {
  grid-area: cell_1-2;
}

.cell_1-3 {
  grid-area: cell_1-3;
}

.cell_1-4 {
  grid-area: cell_1-4;
}

.cell_2-1 {
  grid-area: cell_2-1;
}

.cell_2-2 {
  grid-area: cell_2-2;
}

.cell_2-3 {
  grid-area: cell_2-3;
}

.cell_2-4 {
  grid-area: cell_2-4;
}

.cell_2-5 {
  grid-area: cell_2-5;
}

.cell {
  &__label {
    color: var(--grey);
    font: normal normal 13px/1.2 'IBM Plex Sans', sans-serif;
  }

  &__input {
    border: none;
    outline: none;
  }

  &__input_name {
    font: normal normal 22px/1.2 monospace;
  }
}
