.introduction {
  display: flex;
  flex-flow: row nowrap;
  gap: 0 4%;

  @media(max-width: $mobile) {
    flex-flow: column nowrap;
  }
}

.introduction__main {
  flex: 1 10 1000px;
}

.introduction__collab {
  flex: 1 6 430px;
}

.main-text {
  font: normal normal 16px/24px 'IBM Plex Sans', sans-serif;
}
