.introduction {
  display: flex;
  flex-flow: row nowrap;
}

.introduction__main {
  width: 80%;
  border: 1px solid red;
}

.introduction__alliance {
  width: 20%;
  border: 1px solid yellow;
}

.main-text {
  font: normal normal 16px/24px 'IBM Plex Sans', sans-serif;
}
